<!DOCTYPE html>
<html lang="en">
<head>

    <title>Heating System</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


</head>


<body>

<div>

    <h1>Heating API</h1>

    <ul>
        <li><a href="/api/data" target="_blank">Data</a></li>
        <li><a href="/api/data/now" target="_blank">Current schedule</a></li>
        <li><a href="/api/data/next" target="_blank">Future Schedule for next 5 days</a></li>
        <li><a href="/api/heat/on" target="_blank">Heat on</a></li>
        <li><a href="/api/heat/off" target="_blank">Heat off</a></li>
        <li><a href="/api/mode/auto" target="_blank">Set Mode auto</a></li>
        <li><a href="/api/mode/off" target="_blank">Set mode off</a></li>
        <li><a href="/api/log/heating" target="_blank">Heating Log</a></li>
        <li><a href="/api/log/sensors" target="_blank">Sensors Log</a></li>
        <li><a href="/notify" target="_blank">Notify test</a></li>
    </ul>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>